<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <script src="js/jquery-3.4.0.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div id="book-form">
    <form>
        <h2>Добавление задание</h2>
        <label>Задание на сегодня:</label>
        <input type="text" name="task" value="">
        <hr>
        <button id="save-book">Сохранить</button>
    </form>
</div>
<h1>Tasks (<span th:text="${tasksCount}">0</span>)</h1>
<button id="show-add-book-form">Добавить задание</button>
<br><br>
<div id="book-list">
    <div th:each="task : ${tasks}">
        <a href="#" class="book-link"  th:text="${task.getTask()}"></a>
    </div>
</div>
<!--    <p th:text="${someParameter}"></p>-->
</body>
</html>